<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/academicons.min.css"/>
    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 style="text-align:center"><a href="/">Wookje Han</a></h1>
        <img src="/assets/img/my.png" alt="Wookje Han" align="center" style="margin-left: 2em; margin-bottom: 0em; width: 80%; border-radius: 50%;" />

        <div style="margin-top: 2em; margin-bottom: 0em; text-align: center">
          <a href="https://github.com/wookjeHan"><i class='fa fa-github'></i> github</a> | <a href="https://www.linkedin.com/in/wookje-han-2052691a6/"><i class='fa fa-linkedin'></i> linkedin</a>
          <br/>
          <a href="https://scholar.google.com/citations?user=NNS8zUsAAAAJ&hl=en&oi=ao"><i class="fa fa-google"></i> google scholar</a>
          <br/>
          <a href="/Wookje_Resume.pdf"><i class="fa fa-file"></i> CV</a>
        </div>

        <div style="margin-top: 2em; margin-bottom: 2em; text-align: center">
          <a href="/#about-me">About Me</a>
          <br/>
          <a href="/#writing-contributions">Writing &amp; Contributions</a>
          <br/>
          <a href="/#publications">Publications</a>
          <br/>
          <a href="/#teaching">Teaching</a>
          <br/>
        </div>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
